.container{
    text-align: center; 
}
.title{
    margin-top: 50px;
    color: red;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color: blue;
    padding-left: 15px;
}
.reset{
    width: 200px;
    height: 50px;
    background-color: blue;
    color: red;
    font-weight: bold;
    font-size: 30px;
    border-color: red;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 50px;
}
.board{
    background-color: aqua;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    margin: auto;
}
.boxes{
    display: flex;
    height: 120px;
    width: 120px;
    background-color: blue;
    border-radius: 30px;
    border-color: red;
    padding: 1em;
}
.title img{
    width: 80px;
    height: 80px;
    padding:10px;
}
@media(max-width:600px) {
    .title{
        font-size: 18px;
    }
    .boxes{
        margin-top: 20px;
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
    .reset{
        width: 100px;
        height: 50px;
        font-size: 20px;
        margin-top: 50px;
        margin-right: 50px;
    }
    .board{
        height: 300px;
    }
}
